<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd" >

<!-- pour prendre en compte application.properties: -->
<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
 <property name="location" value="application.properties" />
</bean>

<!-- pour prendre en compte @PostConstruct, ... -->
<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor">
</bean>

 <import resource="dataSourceSpringConf.xml" />
 <import resource="jpaSpringConf.xml" />
 <import resource="serviceSpringConf.xml" />
 
</beans>